.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.searchBarWrapper {
  display: flex;
  justify-content: center;
  gap: 16px;
  position: relative;
  font-size: clamp(1.1rem, 1.4vw, 1.2rem);
  width: 95%;
}

.jobSearchBarWrapper,
.locationSearchBarWrapper {
  display: flex;
  align-items: center;
  border-radius: 24px;
  border: 1.92px solid rgb(224, 224, 224);
  padding: 0.5rem 1rem;
  background-color: white;
}

.jobSearchBarWrapper:focus-within,
.locationSearchBarWrapper:focus-within {
  outline: 2px solid #f43f7f;
}
.jobSearchBar,
.locationSearchBar {
  width: 100%;
  font-size: inherit;
  border: none;
  outline: none;
  background: transparent;
  padding-left: 0.5rem;
}

.jobSearchBar::placeholder,
.locationSearchBar::placeholder {
  color: rgb(133, 133, 133);
}

.jobSearchBtn {
  font-size: inherit;
  border-radius: 1.5rem;
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
}

.jobSearchBtn:hover {
  background: linear-gradient(to right, #ff6ec4, #f43f7f);
}

.searchIcon {
  font-size: inherit;
  transition: color 0.3s ease;
}

.locationIcon {
  font-size: inherit;
  transition: color 0.3s ease;
}

.jobSearchBarWrapper:focus-within .searchIcon {
  color: #f43f7f;
}

.locationSearchBarWrapper:focus-within .locationIcon {
  color: #f43f7f;
}

.searchParamButtonsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.searchParamButtonsWrapper button {
  padding: 0.5rem 1.2rem;
  border: none;
  background-color: rgb(235, 235, 235);
  border-radius: 1.5rem;
  white-space: nowrap;
  display: flex;
  gap: 8px;
  font-size: clamp(0.9rem, 1.4vw, 1rem);
  font-weight: 450;
  color: rgb(48, 48, 48);
}

.searchParamButtonsWrapper button:hover {
  background-color: rgb(202, 202, 202);
}

.menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  display: none;
  flex-direction: column;
}

.menu.visible {
  display: flex;
  background-color: white;
  z-index: 1;
}

.menu label {
  white-space: nowrap;
  padding: 5px 10px;
  font-size: 0.9rem;
}

.menu label:hover {
  background-color: #ffc1d7;
}

input[type="radio"] {
  display: none;
}

input[type="checkbox"] {
  margin-right: 10px;
  accent-color: #f43f7f;
}

input[type="radio"]:checked + label {
  background-color: #f43f7f;
  color: white;
}

/* specific style for the dummy "Any" option in the Distance dropdown menu */
input#radiusAny:checked + label {
  background-color: #f43f7f;
  color: white;
}

.searchParamBtn {
  position: relative;
}

.searchParamBtn.active {
  background-color: rgb(202, 202, 202);
}

.searchParamButtonsWrapper .applyFilterBtn {
  background-color: black;
  color: white;
}

.searchParamButtonsWrapper .applyFilterBtn:hover {
  background: linear-gradient(to right, #ff6ec4, #f43f7f);
}

.alert {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  position: absolute;
  background-color: rgba(60, 60, 60, 0.9);
  color: #f1f1f1;
  padding: 8px 12px;
  border-radius: 15px;
  font-size: 0.9em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  animation: fadeInOut 3s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.reversed {
  flex-direction: column-reverse;
}

.reversed .searchParamButtonsWrapper {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

@media (max-width: 1092px) {
  .wrapper {
    flex-wrap: wrap;
  }

  .searchBarWrapper {
    flex-direction: column;
  }
}
