.pageWrapper {
  min-height: 93svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchSectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jobSectionWrapper {
  margin-inline: auto;
  border: 1px solid red;
  max-width: 1200px;
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.jobPageListingCardWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
  overflow-y: scroll;
}

@media (max-width: 1092px) {
  .searchBarWrapper input[type="search"],
  .searchBarWrapper input[type="submit"] {
    width: 100%;
    margin-inline: 0.1rem;
  }

  .sortButtonsWrapper {
    max-width: unset;
  }

  .sortButtonsWrapper button {
    font-size: 0.77rem;
  }
}
