.pageWrapper {
  height: 93svh; /*change for mobile*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchSectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.178);
  padding: 16px 0;
}

.jobSectionWrapper {
  max-width: 55%;
  margin-inline: auto;
  display: flex;
  overflow: hidden;
}

.initialSearchText {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ec568a;
  margin-top: 30px;
}

.initialSearchText svg {
  margin-right: 12px;
}

.loadingAnimation {
  margin-top: 3%;
}

.noJobsFoundText {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ec568a;
  margin-top: 30px;
  text-align: center;
}

@media (max-width: 1092px) {
  .pageWrapper {
  }

  .searchBarWrapper input[type="search"],
  .searchBarWrapper input[type="submit"] {
    width: 100%;
    margin-inline: 0.1rem;
  }

  .sortButtonsWrapper {
    max-width: unset;
  }

  .sortButtonsWrapper button {
    font-size: 0.77rem;
  }
}
