html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: inherit;
}

/*class to fix homepage background not taking up full height on mobile*/
/*is applied using javascript in homepage*/
.overflow-visible {
  overflow: visible !important; /* Force override with higher specificity */
}
